body {
	font-family : /*Lato,"Ubuntu light","Open Sans",*/"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 1.3em;
	color:#333;
	background-color:#f6f6f6;
	padding-bottom: 50px;
}

a { 
text-decoration: none;
color: #aaa /*#3C99CD*/ /*#0645AD*/;
}
a:hover {
color:#B30000;
}

.full-circle {
	position:absolute;
	top:0px;
	right:0px;
	margin: 16px 16px 0px 0px;
	height: 12px;
	width: 12px;
}

.full-circle-vu {
	background-color:#ddd;
	color:#ddd;
}
.full-circle-new {
	background-color: #333;
}

.full-circle:hover {
	background-color: orange; 
}

div#status { display: none; }



/* NAVBAR -----------------------------------------*/
/* a remplacer par ul.navbar */

ul.bar {
	display: table;
	table-layout: fixed;
	width: 100%;
	padding:0px;
	margin:0px;
	font-size: 1em;
	border-bottom: 1px solid #ddd;
}
ul.bar > li {
	display: table-cell;
	float: none;
	width: 100%;
}
ul.bar > li > a {
	display: block;
	padding:15px 0px;
	background-color: #fff;
	/*color: #aaa;*/
	font-weight: bold;
	text-transform: uppercase;
}
ul.bar li:first-child a{
	padding-left: 20px;
}
ul.bar li:last-child a{
	padding-right: 20px;
}
ul.bar > li > a:hover {
	background-color: #B30000;
	color: #fff;
}
.fixdown {
	position: fixed !important;
	left: 0px !important;
	right: 0px !important;
	bottom: 0px !important;
	z-index: 999 !important;
	border-top: 1px solid #ddd;
}
/* end of BAR */

/* NAVBAR -----------------------------------------*/

ul.navbar {
	display: table;
	table-layout: fixed;
	width: 100%;
	padding:0px;
	margin:0px;
	font-size: 1em;
}

ul.navbar li {
	display: table-cell;
	float: none;
	width: 100%;
}

ul.navbar li a {
	display: block;
	padding:15px 0px;
	background-color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	text-align:center;
}

ul.navbar li:last-child a {
	padding-right: 20px;
	text-align:right;
}

ul.navbar li:first-child a {
	padding-left: 20px;
	text-align:left;
}

ul.navbar li a:hover {
	background-color: #777 /*#3C99CD*/;
	color:#fff;
}

.navbar-top {
	border-bottom: 2px solid steelblue /*#FF6600*/;
}

.navbar-bottom {
	position: fixed !important;
	left: 0px !important;
	right: 0px !important;
	bottom: 0px !important;
	z-index: 999 !important;
	border-top: 2px solid steelblue /*#FF6600*/;
}

/* end of NAVBAR */


/* menu ----------------------------------------*/

ul.menu {
	display: table;
	width: 100%;
	list-style: none;
	margin: 0;
	padding:10px;
}

ul.menu li {
	display: table-cell;
	float: none;
	color: #777 ;
	margin-left: 10px ;
	vertical-align: middle;
}

ul.menu li.btn {
	background: #f6f6f6;
}

ul.menu li span {
	padding: 5px 10px
}

ul.menu li a {
	display: block ;
	line-height: 2em ;
	padding: 5px 10px;
	text-transform: uppercase;
}

ul.menu li a.primary {
	color: #fff ;
	background: deepskyblue; 
}

ul.menu li.nobg, ul.menu li.nobg > a {
	background: #efefef; 
}

ul.menu li.select, ul.menu li.select > a {
	border-bottom: 2px solid red;
}

ul.menu li a:hover {
 background-color: #eee;
}

ul.menu li.btn-primary, ul.menu li.btn-primary a {
	color: #fff ;
	background-color: #aaa;
	font-weight: bold;
}
ul.menu li.btn-primary:hover, ul.menu li.btn-primary a:hover {
	background-color: #888;
}

/* END of MENU */


/* MENUCOM */
/* a supprimer */

ul.menucom {
	list-style: none;
	margin: 20px 0 20px 0;
	padding:10px;
	font-size: 1.3em;
	border-top: 1px solid #ddd;
}

ul.menucom li {
	width:100%;
	text-align: right;
}

ul.menucom li a {
	display: block ;
	color: #777 ;
	padding: 3px 10px;
	text-transform: uppercase;
	font-weight: bold;
}

ul.menucom li.about a {
	display: inline;
	text-transform: none;
	color: dodgerblue ;
	padding: 0px;
	font-weight: normal;
}
 /* END of MENUCOM */


/* ITEM ---------------------------------------------------------------------- */

.i-header {
	margin: 0px 16px;
	padding:10px 0px; 
	max-width:45em;
}

.i-title {
	padding-top:10px;
	font-size: 0.9em;
	line-height: 1.2em;
	text-transform: uppercase;
 }
.i-title a {
	color: #777;
 }
.i-title a:hover {
	color: #B30000;
 }
 
.i-main-header {
	margin-left:8px;
	display:inline-block;
	font-size:1em;
	max-width:45em;
	border:8px solid #ddd;
	border-bottom-width:0;
	background-color:#ddd;
}


.i-favicon { }
.i-author a { 
	color:#333;
}
.i-date {
	padding-left:16px;
	padding-right:8px;
	color:#333;
}

.i-main {
	font-size:1.1em;
	background-color: #fff;
	border-top:8px solid #ddd;
	border-bottom:8px solid #ddd;
	padding: 16px;
	margin-bottom:10px;
}

.i-main a { 
color: #3C99CD /*#0645AD*/;
}
 
.i-main h1, .i-main h2, .i-main h3, .i-main h4, .i-main h5, .i-main h6 {
 line-height: 1.2em;
}

.i-main img {
	max-width:100%;
	height:auto;
}
 
/* END of ITEM */
 
 
/* ITEMLIST ---------------------------------------------------------------- */

.il-header {
	padding: 20px 8px 0px 8px;
}

.il-feed {
	line-height: 1em;
	font-size:1em;
	text-transform: uppercase;
	margin-left:8px;
}

.il-feed a {
	color:#777;
}

.il-unread {
	margin-top:16px;
	padding-top:8px;
	padding-right:16px;
	display: inline-block;
	background-color:  #ddd;
}

.il-unread small{
	font-size: 0.7em;
	font-weight: normal;
	text-transform: uppercase;
}
	
.il-unread-nb {
	display:inline-block;
	padding:0px;
	margin:0px;
	font-weight: bold;
}

.il-unread.no-unread .il-unread-nb  {
	color:#aaa;
	padding-left:8px;
}


.il-unread-all-btn {
	display:inline-block;
	color: #aaa;
	font-weight:normal;
	margin:0px;
	font-size: 1.2em;
	padding: 0px 10px 0px 10px;
}
.il-unread-all-btn:hover {
	background-color: #B30000 /*#3C99CD*/;
	color:#fff;
}

.il-message {
	font-size: 1.5em;
	margin: 0 20px 0 0;
	padding: 16px;
	background-color: #ddd;
}

.il-main  {
	padding: 0;
}

.il-items-wrapper {
	padding:16px 8px 8px 8px;
	background-color:#ddd;
}	

.il-item {
	display:block;
	width:100%;
	position:relative;
	background-color: #fff;
	padding: 16px 36px 8px 8px;
	border: 2px solid #aaa;
	border-top-width:0px;
	border-right-width:1px;
	border-left-width:0px;
	margin:0px;
	margin-bottom:8px;
}

.il-item:first-child {}

.il-item:last-child {}

.il-item.read {
	background-color:#f6f6f6; 
}

.il-item.starred {
	background-color:   #fff !important;
	color:#333 !important;
}
.il-item.starred .il-title a{
	font-weight: normal !important;
}
.il-item.starred .il-title a:hover {
	color:#B30000 !important;
}

.il-item.current {}

.il-title { 
	display:inline-block;
	font-size: 1.1em;
	line-height: 1.2em;
	padding-bottom:8px;
	margin:0px;
}
.il-title a {
	font-weight: bold; 
	color:#333;
}
.il-title a:hover {
	color:#B30000;
}

.il-item.read .il-title a {
	font-weight: normal; 
}

.il-item.read.starred {
	background-color:#f6f6f6 !important;
}

.il-favicon { }

.il-author { 	}
.il-author > a { 
	display:block;
	color:#333;
	font-size: 1.1em;
}

.il-date {
	color:#777;
}
.il-url { }

a.il-btn-read {
	position:absolute;
	bottom:0px;
	right:0px;
	font-size: 1.2em;
	padding: 12px 12px 6px 12px;
	margin-right:4px;
	text-transform: uppercase;
}
a.il-btn-read:hover {
	background: #B30000 /*#3C99CD*/;
	color:#fff;
}

.il-btn, .il-url  {
display: inline-block;
font-size: 0.8em;
background-color: #ddd;
color: #777;
padding: 0px 5px 0px 5px;
display: none;
}

/* END of ITEMLIST */


/* FEEDLIST -------------------------------------------------------*/

/* jumper */

ul.j {
	margin:0;
	padding:16px 8px 16px 8px;
	list-style: none;
	font-size:1.2em;
}

ul.j li {
	width:100%;
	padding: 8px 16px;
	margin:0px;
	font-size:0.9em;
	position:relative;
	border: 1px solid #ddd;
	border-bottom-width:0px;
	background-color: #fff;
	clear:both;
}

ul.j li:last-child {
	-moz-border-radius: 0px 0px 20px 20px;
	border-radius: 0px 0px 20px 20px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
ul.j li#all-subscriptions + li {
	-moz-border-radius: 20px 20px 0px 0px;
	border-radius: 20px 20px 0px 0px;
}

ul.j li#all-subscriptions {
	margin-bottom:16px;
	border: 1px solid #ddd;
	-moz-border-radius: 0px;
	border-radius: 20px;
}

li.j-folder {}
li.j-folder.no-unread {}

ul.j > li.current {}

span.j-jmp, a.j-t, span.j-u {
	display:inline-block;
}

a.j-t {
	text-transform: uppercase;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
	margin-top: 0px;
	margin-bottom:0px ;
	color: #333;
	vertical-align: middle;
}

li.j-folder.no-unread a.j-t {
	font-weight:normal;
}

.j-circle {
	position:absolute;
	top:0px;
	left:4px;
	margin: 8px 0px;
	height: 8px;
	width: 8px;
	background-color:yellowgreen;
	color:yellowgreen;
	display:none;
}


span.j-u {
	padding: 0px 5px;
	margin: 0px 0px 0px 0px;
	vertical-align: middle;
	color: #333/*#3C99CD*/ ;
	font-weight: bold;
}

span.j-u.no-unread {
	color: #aaa ;
}

span.j-jmp {
	vertical-align: middle;
	float:right;
}

span.j-jmp a {
	text-align:center;
	padding: 2px 15px;
	display:block;
}
span.j-jmp a:hover {
	background-color: #777;
	color:#fff;
}
/* end of jumper */


/* loop feeds */

ul.f {
	margin:0;
	padding:0;
	list-style: none;
}

ul.f > li {
	display: inline-block; 
	width:100%;
	padding: 8px 16px;
	margin:0;
	border-bottom:1px solid #ddd;
	background-color: white;
	vertical-align: middle;
	clear:both;
	font-weight:normal;
}

ul.f li.has-unread {
font-weight:bold;
}

ul.f li:last-child {
border-bottom:0px solid #fff;
}

ul.f > li.current {}

span.f-f, a.f-t, span.f-u {
	display:inline-block;
}

a.f-t {
	font-size:1.2em;
	padding: 3px 0 3px 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #333;
	vertical-align: middle;
}



span.f-u {
	font-size:1.2em;
	padding: 0 5px;
	vertical-align: middle;
	text-align:center;
	font-weight: bold;
}

span.f-f img {
	height:16px;
	width:16px;
	margin-right: 5px;
	vertical-align: middle;
	text-align:left;
}


/* Loop folder */

h2.fd {
	font-size: 1em;
	line-height: 1em;
	text-transform: uppercase;
	font-weight: bold;
	padding: 8px 16px;
	margin:0px 0px 0px 0px;
	background-color:#ddd;
	vertical-align: middle;
}

h2.fd.current {}

span.fd-top, a.fd-t, span.fd-u {
	display:inline-block;
}

a.fd-t {
color: #333;
vertical-align: middle;
}

span.fd-u {
	padding: 0px 0px;
	margin: 0px 0px 0px 0px;
	vertical-align: middle;
}

span.fd-u.no-unread {
	color:#777;
}

span.fd-top {
vertical-align: middle;
float:right;
}
span.fd-top a {
text-align:center;
padding: 5px 20px;
display:block;
color:#aaa;

}

/* end of loop folder */

.fl-main {}

ul.unstyled {
	margin:0;
	padding:0;
	list-style: none;
}

li.folder, li.feed {
	display: table;
	table-layout:fixed;
	width:100%;
	padding: 5px;
	margin:0;
}

li.feed {
	display: table;
	table-layout:fixed;
	width:100%;
	padding: 5px;
	margin:0;
}

li.feed.current {}
li.feed .favicon {}
li.feed .title {}
li.feed .f-unread {}
li.feed .f-unread.no-unread {}
.f-starred {}
li.folder.current, li.feed.current {}
.nbunread {}
.nbunread.no-unread {}

ul.folder {
	margin:0;
	padding:0;
	list-style: none;
}

ul.folder > li {
	display: table;
	table-layout:fixed;
	width:100%;
	padding: 0;
	margin:0;
}

ul.folder > li > a.title {
	display:table-cell;
	width:70%;
}
ul.folder > li > a.nbunread {
	display:table-cell;
	text-align:right;
	margin-right: 10px;
	padding: 3px 5px;
	color:#fff;
	background: yellowgreen;
}

ul.feed {
	margin:0;
	padding:0;
	list-style: none;
}

.fl-feed {
	display: table;
	table-layout:fixed;
	width:100%;
	background:#fff;
	padding: 0;
	margin:0;
}
.fl-title { 
	display:table-cell;
	width:70%;
}
.fl-favicon { 
	display:table-cell;
	width:16px;
}
.fl-favicon > img { 
	height:16px;
	width:16px;
}

.fl-nbunread {
	display:table-cell;
}
.fl-btn-edit { }
.fl-btn-top { }

/* END of FEEDLIST */


/* */
fieldset {
background:#fff;
margin:0;
padding:0 0 10px 0;
}
fieldset legend {
display:block;
width:100%;
padding:  20px 10px 5px 10px;
font-size:1.5em;
background:#eee;
color:#777
}
fieldset > div {
padding:3px 10px;
}

/* */

.phone-hidden {
	display: none !important;
}

