/*@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);*/

body {
	font-family :  "Helvetica Neue","Open Sans",/*"Ubuntu Light",  "Sawasdee", */Helvetica, Arial,sans-serif;
	color:#333;
	font-size: 1.3em;
	background-color:#eee;
	padding-bottom: 40px;
	
}

a { 
text-decoration: none;
color: dodgerblue;
}


div#status { display: none; }


/* NAVBAR -----------------------------------------*/

ul.bar {
	display: table;
	table-layout: fixed;
	width: 100%;
	padding:0px;
	margin:0px;
	font-size: 1em;
}

ul.bar > li {
	display: table-cell;
	float: none;
	width: 100%;
}

ul.bar > li > a {
text-transform: uppercase;
/*line-height:1.5em;*/
display: block;
padding:15px 20px;
background-color: #ddd;
color: #777;
	font-weight: bold;
}

ul.bar > li > a:hover {
background-color: #888;
color: #fff;
font-weight: bold;
}

.fixdown {
position: fixed !important;
left: 0px !important;
right: 0px !important;
bottom: 0px !important;
z-index: 999 !important;
border-top: 1px solid #efefef;
}

ul.fixdown > li > a {
/*padding:15px 20px;*/
}

/* end of BAR */


/* menu ----------------------------------------*/

ul.menu {
	display: table;
/*	table-layout: fixed;*/
	width: 100%;
	list-style: none;
	margin: 0;
	padding:10px;
}

ul.menu li {
	display: table-cell;
	float: none;
	/*background: #ddd ;*/
	color: #777 ;
	margin-left: 10px ;
		/*width: 100%;*/
	/*margin: 10px 0px;
	padding: 10px;*/
	vertical-align: middle;
}

ul.menu li.btn {
	background: #ddd ;
	/*border-left:10px solid #eee;*/
	/*text-align:center;*/
}

ul.menu li span {
	padding: 5px 10px
}

ul.menu li a {
	display: block ;
	color: #777 ;
	line-height: 2em ;
	padding: 5px 10px;
	text-transform: uppercase;
}

ul.menu li a.primary {
	color: #fff ;
	background: deepskyblue; 
}

ul.menu li.nobg, ul.menu li.nobg > a {
	background: #efefef; 
 }

ul.menu li.select, ul.menu li.select > a {
	background: lightyellow; 
 }

ul.menu li a:hover {
 color: #fff;
 background: #888;
}

ul.menu li.btn-primary, ul.menu li.btn-primary a {
	color: #fff ;
	background-color: #aaa;
	font-weight: bold;
}
ul.menu li.btn-primary:hover, ul.menu li.btn-primary a:hover {
	color: #fff ;
	background-color: #888;
}



/* menu */


/* menucom */

ul.menucom {
	list-style: none;
	margin: 20px 0 20px 0;
	padding:10px;
	font-size: 1.3em;
	border-top: 1px solid #ddd;
}

ul.menucom li {
	width:100%;
	text-align: right;
}

ul.menucom li a {
	display: block ;
	color: #777 ;

	color: #777 ;
/*	line-height: 1.5em ;*/
	padding: 3px 10px;
	text-transform: uppercase;
	font-weight: bold;
}

ul.menucom li a:hover {
	color:dodgerblue;
}


/*ul.menucom li .about {
	display: block ;
	color: #888 ;
	padding: 0px 10px;
}
*/

ul.menucom li.about a {
	display: inline;
	text-transform: none;
	color: dodgerblue ;
	padding: 0px;
	font-weight: normal;
}


/* ITEM ---------------------------------------------------------------------- */

.i-header {
	padding: 10px 10px 5px 10px ;
}

.i-title {
	font-size: 1.5em;
	line-height: 1.2em;
 }
.i-title > a, .i-author > a,  .i-date{
	color:#777;
 }

.i-favicon { }
.i-author { 

}
.i-date {

}

.i-main {
background-color: #fff;
padding: 10px;
margin-bottom:10px;
/*clear:both;*/
 }
 
 /* END of ITEM */
 
 
/* ITEMLIST ---------------------------------------------------------------- */

.il-header {
padding: 20px 10px 5px 10px;
}

.il-feed {
line-height: 1.1em;
color: #aaa;
}
.il-feed > a {
color: #aaa;
}



.il-unread { 
display:inline-block;
font-size:0.7em;
/*line-height:1.5em;*/
/*height: 1.5em;*/
padding: 0px 10px;
/*padding-top:2px;*/
/*margin: 5px 10px 0 0;*/
/*vertical-align: middle;*/
text-align:center;
background-color: yellowgreen;
/*-moz-border-radius: 10px;
border-radius: 10px;*/
color:white;
/*line-height: 1.6em;*/
/*font-weight: bold;*/
margin-left: 1px;
margin-bottom:3px;
}

.il-unread.no-unread {
background-color: lightgrey;
}


.il-new {}


.il-message {
font-size: 1.5em;
margin:10px;
padding: 20px;
background-color: #fff;
}

.il-main  {
/*margin-bottom:10px;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;*/
padding: 0 10px 10px 10px;
}

.il-item {
display:inline-block;
width:100%;
background-color: #fff;
padding: 10px 5px 5px 15px;
border-top: 1px solid #ddd;
border-left: 1px solid #ddd;
border-right: 1px solid #ddd;
border-bottom: 1px solid #ddd;
margin-bottom: 10px;
}
.il-item.read {
background-color: #f4f4f4; /*ghostwhite*/
/*border-bottom: 1px solid #ddd;*/
}

.il-item.current {
background-color: lightyellow !important;
}

.il-title { 
	font-size: 1.2em;
	line-height: 1.1em;
}

.il-title a {
display:block;
font-weight: bold; 
color:#333;
}
.il-title a:hover {
display:block;
font-weight: bold; 
color:#000;
}



.il-item.read .il-title a {
display:block;
font-weight: normal; 
color:#777;
}

.il-favicon { }
.il-author {}
.il-date { }
.il-url { color:#777;}

.il-author > a { 
color:#aaa;
font-size: 1em;
}

/* END of ITEMLIST */




/* FEEDLIST -------------------------------------------------------*/


/* jumper */

ul.j {
margin:0;
padding:0;
list-style: none;
background-color: #eee;
}

ul.j > li {
color: #777;
width:100%;
padding: 5px 0px;
margin:0;
border-bottom:1px solid #ddd;
clear:both
}

ul.j > li.current {
background-color: lightyellow;
}

span.j-jmp, a.j-t, span.j-u {
display:inline-block;
/*float:none;*/
}

a.j-t {
/*max-width:70%;*/
font-size: 1em;
text-transform: uppercase;
/*font-weight: bold;*/
padding-left: 10px;
color: #777;
vertical-align: middle;
/*white-space:nowrap;
text-overflow: ellipsis;
overflow: hidden;*/
}


span.j-u {
float:right;
font-size:1em;
padding: 0 10px;
margin: 5px 15px 0 0;
vertical-align: middle;
/*text-align:center;*/
background-color: yellowgreen;
-moz-border-radius: 10px;
border-radius: 10px;
color:white;
/*line-height: 1.6em;*/
font-weight: bold;
}

span.j-u.no-unread {
background-color: lightgrey;
/*-moz-border-radius: 10px;
border-radius: 10px;*/
}

span.j-jmp {
/*width:36px;*/
vertical-align: middle;

}
span.j-jmp a {
text-align:center;
padding: 5px 20px;
display:block;
color:#777;
/*font-weight: bold;*/
}

/* end of jumper */


/* loop feeds */

ul.f {
margin:0;
padding:0;
list-style: none;
}

ul.f > li {
/*display: block;*/
/*table-layout:fixed;*/
display: inline-block; 
width:100%;
padding: 5px 10px;
margin:0;
border-bottom:1px solid #ddd;
background-color: white;
vertical-align: middle;
clear:both;
}

ul.f > li.current {
background-color: lightyellow;
}

span.f-f, a.f-t, span.f-u {
display:inline-block;
/*float:none;*/
}

a.f-t {
max-width:70%;
padding: 5px 0 5px 10px;
color: #777;
vertical-align: middle;
white-space:nowrap;
text-overflow: ellipsis;
overflow: hidden;
}

span.f-u {
font-size:0.9em;
padding: 0 10px;
vertical-align: middle;
/*text-align:center;*/
background-color: yellowgreen;
-moz-border-radius: 10px;
border-radius: 10px;
/*border: 1px solid limegreen;*/
color:#fff;
line-height: 1.6em;
font-weight: bold;
margin-left: 10px;
}

span.f-f {
/*width:36px;*/
padding-left: 10px;
vertical-align: middle;
text-align:left;
}

/* Loop folder */


h2.fd {
color: #777;
font-size: 100%;
line-height: 1.5em;
text-transform: uppercase;
font-weight: bold;
width:100%;
padding: 5px 0px;
margin:0;
border-bottom:1px solid #eee;
background-color: #eee;
}

h2.fd.current {
background-color: lightyellow;
}

span.fd-top, a.fd-t, span.fd-u {
display:inline-block;
color: #777;/*float:none;*/
}

a.fd-t {
max-width:70%;
padding-left: 10px;
color: #777;
vertical-align: middle;
white-space:nowrap;
text-overflow: ellipsis;
overflow: hidden;
}

span.fd-u {
float:right;
font-size:1em;
padding: 0 10px;
margin: 5px 10px 0 0;
vertical-align: middle;
background-color: yellowgreen;
-moz-border-radius: 10px;
border-radius: 10px;
color:white;
/*line-height: 1.6em;*/
/*font-weight: bold;
margin-left: 10px;*/
}

span.fd-u.no-unread {
background-color: lightgrey;
}

span.fd-top {
vertical-align: middle;
}
span.fd-top a {
text-align:center;
padding: 5px 20px;
display:block;
color:#777;
}
/* end of loop folder */



.fl-main {}

ul.unstyled {
margin:0;
padding:0;
list-style: none;
}

li.folder, li.feed {
display: table;
table-layout:fixed;
width:100%;
padding: 5px;
margin:0;
border-bottom:1px solid #ddd;
}

li.feed {
display: table;
table-layout:fixed;
width:100%;
padding: 5px;
margin:0;
border-bottom:1px solid #ddd;
background-color: white;
}
li.feed.current {
background-color: lightyellow;
}

li.feed .favicon {

}

li.feed .title {

}
li.feed .f-unread

li.feed .f-unread.no-unread

.f-starred


li.folder.current, li.feed.current {
background-color: lightyellow;
}

.nbunread {

}

.nbunread.no-unread {

}




ul.folder {
margin:0;
padding:0;
list-style: none;
}

ul.folder > li {
display: table;
table-layout:fixed;
width:100%;
padding: 0;
margin:0;
}

ul.folder > li > a.title {
display:table-cell;
width:70%;
}
ul.folder > li > a.nbunread {
display:table-cell;
text-align:right;
margin-right: 10px;
padding: 3px 5px;
color:#fff;
background: yellowgreen;
}



ul.feed {
margin:0;
padding:0;
list-style: none;
}


.fl-feed {
display: table;
table-layout:fixed;
width:100%;
background:#fff;
padding: 0;
margin:0;
}
.fl-title { 
display:table-cell;
width:70%;
}
.fl-favicon { 
display:table-cell;
width:16px;
}
.fl-favicon > img { 
height:16px;
width:16px;
}



.fl-nbunread {
display:table-cell;
}
.fl-btn-edit { }
.fl-btn-top { }

/* END of FEEDLIST */

/* CONFIG */

/*#config fieldset {
background:#fff;
margin:0;
}
#config fieldset legend {
display:block;
width:100%;
padding:  20px 10px 5px 10px;
font-size:1.5em;
background:#eee;
color:#777
}*/

/* */
fieldset {
background:#fff;
margin:0;
padding:0 0 10px 0;
}
fieldset legend {
display:block;
width:100%;
padding:  20px 10px 5px 10px;
font-size:1.5em;
background:#eee;
color:#777
}
fieldset > div {
padding:3px 10px;
}


/* i-menu */

ul#i-menu {
	width: 100%;
	list-style: none;
	margin: 0;
	margin-top: 10px;
	padding:10px;
}

ul#i-menu li {
	background: #ddd ;
	color: #777 ;
	margin-bottom: 10px ;
	/*display: table-row;
	width: 100%;
	margin: 10px 0px;
	padding: 10px;*/
}

ul#i-menu li > a {
display: block ;
 color: #777 ;
  line-height: 2em ;
  padding: 5px 0 5px 10px ;
  text-transform: uppercase;
}

ul#i-menu li > a:hover{

 color: #777 ;
 background: #ccc;
  line-height: 2em ;
  padding: 5px 0 5px 10px ;
}

/* il-menu */

ul#il-menu {
	display: table;
	/*table-layout: fixed;*/
	width: 100%;
	list-style: none;
	margin: 0;
	margin-top: 10px;
	padding:10px;
}

ul#il-menu li {
	display: table-cell;
	float: none;
	/*background: #ddd ;*/
	color: #777 ;
	margin-left: 10px ;
	/*display: table-row;
	width: 100%;
	margin: 10px 0px;
	padding: 10px;*/
}

ul#il-menu li > a {
display: block ;
 color: #777 ;
  line-height: 2em ;
  padding: 5px 0 5px 10px ;
}

ul#il-menu li > a#next {
	background: #ddd;
 }

ul#il-menu li > a:hover{
 color: #777 ;
 background: #ccc;
  line-height: 2em ;
  padding: 5px 0 5px 10px ;
}



/* feedlist */

a.nbitem {
background-color: limegreen;
-moz-border-radius: 10px;
border-radius: 10px;
color:white;
line-height: 1.6em;
font-weight: bold;
margin-top: 0.5em;
}


.no-unread {
background-color: lightgrey;
color:white;
}

/*a.feed {
	max-width:13em;
	text-decoration: none;
	color: #333;
	margin-left: 5px;
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}*/


/*******************************************/



@media (min-width: 768px) {

	body {
	font-size:1.2em;
	}

	.i-main {
		/*margin:0px 10px;*/
		font-size:1.3em;
		padding: 20px;
		column-width: 30em;
		column-gap: 20px;
		-moz-column-width: 30em;
		-moz-column-gap: 20px;
		-o-column-width: 30em;
		-o-column-gap: 20px;
		-webkit-column-width: 30em;
		-webkit-column-gap: 20px;
		color:#777;
	}

	div.fl-main,  div.il-main, div#il-footer {
		/*margin:0px 10px;*/
		column-width: 20em;
		column-gap: 10px;
		-moz-column-width: 20em;
		-moz-column-gap: 10px;
		-o-column-width: 20em;
		-o-column-gap: 10px;
		-webkit-column-width: 20em;
		-webkit-column-gap: 10px;
		/*background-color:#fff;*/
	}

	.i-main p, .i-main img {
	display: inline-block;
	width:100%	
	}

	.i-header {
	padding:20px 10px 10px 20px;
	font-size:1.3em;
	}

	.il-title { 
	font-size: 12.8px /*1.2em*/;
	line-height: 1.2em;
	color:#666;
}

}

a:hover { 
color: dodgerblue;
}

/*
@media (max-width: 640px) {
	div#feedlist-main ul li {
		white-space:nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}
*/

